<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
//echo $this->request->session()->read('Auth.User')['role'];
$cakeDescription = 'CakePHP: the rapid development php framework';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $cakeDescription ?>:
        <?= $this->fetch('title') ?>
    </title>
    <?= $this->Html->meta('icon') ?>

    <?= $this->Html->css('base.css') ?>
    <?= $this->Html->css('cake.css') ?>

    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
    <?= $this->fetch('script') ?>
</head>
<body>
    <header>
        <div class="header-title">
            <span><a href="/cakeblog/">CAKEBLOG</a></span>
            <!--<span><?= $this->fetch('title') ?></span>-->
        </div>       
        <div class="header-help">
             
            <?php 
                if($this->request->session()->read('Auth.User')){
            ?>   
                <span><?= $this->Html->link($this->request->session()->read('Auth.User')['email'], ['controller' => 'users', 'action' => 'view', $this->request->session()->read('Auth.User')['id']]) ?></span>      
                <span><?= $this->Html->link('Logout', ['controller' => 'users', 'action' => 'logout', $this->request->session()->read('Auth.User')['id']]) ?></span> 
            <?php 
                } else {
            ?>
                <span><?= $this->Html->link('Login', ['controller' => 'users', 'action' => 'login']) ?></span>   
            <?php 
                }
            ?>
        </div>
    </header>
    <div id="container">

        <div id="content">
            <?= $this->Flash->render() ?>

            <div class="row">
                <?= $this->fetch('content') ?>
            </div>
        </div>
        <footer>
        </footer>
    </div>
</body>
</html>
